<figure>
  <IMG SRC="https://www.capgemini.com/nl-nl/wp-content/themes/capgemini-2018-02/assets/images/logo.svg" WIDTH=250 ALIGN="RIGHT"/>
</figure>

# DS Python Workshop 2
*By Alain Issa & Jeroen Dhondt*

### How to use this notebook

 
*   Double click any cell to edit its content
*   Click  ``` SHIFT+ENTER ```  to execute a cell 
*  The exercises have a difficulty assigned to them, from 1 to 3 *

### Resources
Official documentation (rather little explanation) [Link official documentation](https://docs.python.org/3/)

Interactive website where you can quickly look up basic functions of Python: [Python Cheatsheet](https://www.pythoncheatsheet.org/)

Google is our best tool :)


---

## Chapter 1: Quick recap of Python basics

In this chapter we revisit some of the core functionalities of the Python programming language.


### Variable types

Python supports a range of variable types and data structures. Let's quickly recap the different variable types.

In [0]:
s = "Hello"   # String
i = 4         # Integer
f = 3.14      # Float
b = True      # Boolean
n = None
print("Variables:",s,i,f,b,n)

You can only perform base operations on 2 variables if they are of the same type, or compatible types (like float's with integer). If this is not the case, you will need to **cast** the variable to the wanted type. See these examples

In [0]:
string1 = "1"
string2 = "2"
integer1 = 3
float1 = 4.56

print(string1,  "+", string2, "=",   string1+string2 )
print(integer1, "+", float1,  "=",   integer1+float1 )
print("")
print("With casting: ")
print(integer1, "+", string2, "=",   str(integer1)+string2 )
print(string1,  "+", float1,  "=",   float(string1)+float1 )

### Lists

A list contain a set of values. In Python, you can create an empty list by assigning a variable `list = []`

In Python, a list can contain different data types without problem.

In [0]:
list_of_values = ["Male", 40, True, "Pilot"]
print("List has the type:",type(list_of_values),"and values:", list_of_values)

### Dictionary
A dictionary is a powerful data structure that is comparable to a list. The difference here is that when you want to store your information, you have to choose a **key** under which to store your value. You can then retrieve the stored value by calling the key you have provided. 

That is a big difference with a list. Elements in a **list can change order**, and you are never certain the same element will be returned when you call `list[4]`. In a **dictionary, each key is unique** and always returns the same object

In [0]:
#Create the dictionary
dictionary = {
    "name": "Alain",
    "company": "Capgemini",
}  
print(dictionary)
print("Name:", dictionary["name"],"\n") # call the stored value under the key "name"

dictionary["name"] = "Jeroen" # put Jeroen instead of Alain
dictionary["age"] = 30 # add a new key-value 
print(dictionary)


### Loops: the for-loop

Back to our original list of values. The for-loop is a very powerful tool that allows us to repeatedly do the same action on a different element from a list, dictionary or series of numbers.

In [0]:
list_of_values = ["Male", 40, True, "Pilot"]

for value in list_of_values:
  print(value)
  
print("\nAnd for a dictionary:")
for key in dictionary:
  print(key,":",dictionary[key])

### Conditional flow: if .. else if .. else ..

The keywords if, elif and else allow you to return a response based on some conditions. 

An example explains this whole idea best. Let's randomly assign a value to the age variable:

In [0]:
import random
age = random.randint(0,100)
print("Age: ", age)

 .. and now print out a conditional message based on age.

In [0]:
print("You are",age,"years old.")

if age < 18:
    print("A great time to learn new skills!")
elif age < 67:
    print("Let's get this knowledge into practice, time for work")
else:
    print("Enjoy a well deserved retirement!")

##  Chapter 2: Introduction to Pandas DataFrame

The Pandas DataFrame holds tabular data, much like an Excel sheet. We first learn how to interact with a DataFrame.

### Analyzing a DataFrame

Let us create a new dataframe with some fictive weather data.

In [0]:
import pandas as pd
pd.set_option('display.max_columns', 500) # show more columns horizontally
pd.set_option('display.width', 1000) # show more data horizontally

In [0]:
provinces = pd.DataFrame(
    [["Antwerp","Antwerpen",1847.486,2867],
    ["Limburg","Hasselt",870.880,2422],
    ["East Flanders","Gent",1505.053,3007],
    ["Flemish Brabant","Leuven",1138.489,2106],
    ["West Flanders","Brugge",1191.059,3144],
    ["Hainaut","Mons",1341.645,3786],
    ["Liege","Liege",1105.326,3862],
    ["Luxemburg","Arlon",283.227,4440],
    ["Namur","Namur",493.073,3666],
    ["Walloon Brabant","Wavre",401.106,1091],
    ["Brussels Capital-Region","Bruxelles",1198.726,161]],
    columns = ["Province","Capital","Inhabitants(x1000)","Surface km2"])

As you can see from the syntax, we define the data as a list of lists (a matrix), and define the column names.

The DataFrame now looks like this:

In [0]:
print(provinces)

You notice an extra column: the index. Since we didn't specify its form, it has been authomatically created as a series of increasing numbers. 

We can now ask some basic information from our DataFrame.

In [0]:
print("Data types:\n",provinces.dtypes)
print("\nIndices:\n",provinces.index)
print("\nColumns:\n",provinces.columns)

A quick first analysis of the data can be done with the .describe function. (More advanced functions are described in chapter 4)

In [0]:
provinces.describe()

### Indices and accessing data
We can do a few things to make the data easier to access and understand.

First we can change the index to contain the province names, and sort them alphabetically.

In [0]:
clean = provinces.set_index("Province", inplace=False) 
clean.sort_index(inplace=True)
print(clean.head())

> *The `inplace` paramater allows you to choose to create a new variable to contain the result (`inplace = False` , the default value). Or you can overwrite the current dataframe (`inplace = True`). Be careful though, your original DataFrame is then lost.*

Now, how can we access a certain element or Series from our dataset? 

We can access the columns and the indices as follows:

In [0]:
print(clean.columns)
print(clean.columns[0],'\n')

print(clean.index)
print(clean.index[0])

Next we read the Series of values for the Capital column.

In [0]:
clean.Capital
# or clean['Capital']
# or clean[clean.columns[0]]  where clean.columns[0] -> 'Capital'

And individual items can be accessed next

In [0]:
clean.Capital.Hainaut
# or clean['Capital']['Hainaut']

### Renaming, modifying and adding columns

Next we will see a few of the easy tools Pandas provides to alter the columns of your data set.

We want to first rename the columns to shorter names.

In [0]:
clean = clean.rename(columns = {"Inhabitants(x1000)":"Inhabitants", clean.columns[2] : "Surface"})		
clean.head()

Next, since we renamed the 2nd column to 'Inhabitants', removing the ''(x1000)'', we should also make the data reflect this change. We can multiply all values by 1000 and change the type to integer. All with one simple line of code:

In [0]:
clean['Inhabitants'] = (clean['Inhabitants']*1000).astype(int)
clean.head()

Finally, **adding a new columns** is made easy with Pandas too. 

We can create a new column containing the average inhabitants per km2, named `Inhabitants\km2`

In [0]:
clean['Inhabitants/km2'] = clean['Inhabitants'] / clean['Surface']
clean.head()

### <a name="ex2_1"></a> Exercise 2.1: Exploring a new data set (*)

Time for some exercises! This first exercise is to get you warmed up. Another data set was loaded in a DataFrame object called 'data'. 

Try to figure out what data it contains. 
PS. `df.head()` prints the first 5 rows, ideal for a quick inspection.

*   Which columns does the data have and of what type are they?
*   Print out some general statistics. How many entries does the first column have? And how many the 2nd? Why is that different?

In [0]:
#Write your code here

<a href="#ex2_1answer">Answer to Exercise 2.1</a>

### <a name="ex2_2"></a> Exercise 2.2: Re-arranging our data set and retrieving data (*)

In this exercise we apply all the skills we learned on changing the columns and their data:

*   Make the country into the index (*)  PS> this will help you for the 3rd question
*   Give the columns some more suitable, shorter names. (*) Hint: try to use the data.columns series
*   Return following figures: (*)
 * the Consumption per capita of Belgium
 * total national consumption of China
 * the remarkable change in consumption in 2015-2016 for the Seychelles

In [0]:
#Write your code here

<a href="#ex2_2answer">Answer to Exercise 2.2</a>

### <a name="ex2_3"></a> Exercise 2.3: Deriving new data (**)

* Add a column that estimates the population of a country by comparing the total national consumption with the consumption per capita

*Hint: Be careful with the missing values*

* Replace the column 'Change 2015-2016' with the actual consumption of 2015

*Hint: make the sum of the first and the 2nd columns*

In [0]:
#Write your code here

<a href="#ex2_3answer">Answer to Exercise 2.3</a>

## Chapter 3: Importing and Reading Data from files

Importing data is the first step to go in order to do Data Science, Pandas allows you to import data from many different sources files such as CSV or Excel files. In the following exercices we will focus mainly on the Excel and CSV because those are the most common data sources. 


### Reading files
In order to read data from a specific file you have to use the following functions (see code below)

Note that the first line of the excel file or the csv file is by default considered as the "header" (name of the columns) of the table

From **CSV files**, use the function: 
```
pd.read_csv(<file_name>)
```


and for **Excel sheets** use: 


```
xls = pd.ExcelFile(<name_of_file>) 
df1 = pd.read_excel(xls, <sheet_name>)
```

In [0]:
import pandas as pd
!pip install -q --upgrade xlrd

xls = pd.ExcelFile('PT.xlsx')
df = pd.read_excel(xls, 'PT')
df.head()

Note also that by default the empty values are stored as "NaN" values

### Filtering
In the following exercices you will have at some point to filter, one way of doing it is to use the following code:

In [0]:
df[df["Job_title"] == "Assistant Director"]

Here we are actually asking to get all the lines of the dataframe where the "Job_title" equals to "Assistant Director".


The same process can be applied for different type of filtering. You can create any conditional filter between the first square bracket. Similar to the conditions from Lesson 1 you created for if.. else.. structures.

### Joins

For some exercices you will need to do a join between dataframes.

There are different types of join but we will focus mainly on the default one: inner join which only returns records that have matching values in both tables. If you want to have more information about the other types of joins check the following website
http://www.sql-join.com/sql-join-types/ and if you have questions don't hesitate to ask us!

In order to do a join, use the following code:

In [0]:
#Creation of two data frame for the example
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
print(df,"\n")

d2 = {'col1': [1, 2], 'info': ["a", "b"]}
df2 = pd.DataFrame(data=d2)
print(df2,"\n")
pd.merge(df, df2, how="inner", on="col1")

In the above code we are merging the two dataframe. We have to specify the key of the join to "col1".

If the columns have a different name in the different datasets, we can specify both "left_on" and "right_on" so that pandas know what are the keys that should be used as index to make the join.

### Execise 3.1 (*)

    1) Import the file "titanic.xls" and print out the first 5 rows
    2) Check the type of one value of the age column

*Hint: use the "type(..)" function to get the type of this value*

In [0]:
#Write your code here

<a href="#ex3_1answer">Answer to Exercise 3.1</a>

### Exercise 3.2 (**)

*   Read the sheet 'PT' and 'PD' from the PT.xlsx and store them in a list or dictionary
*   Perform a join between the two data sets on the key "ZIP"
*   Keep only the persons that are older than 30 years old

In [0]:
#Write your code here

<a href="#ex3_2answer">Answer to Exercise 3.2</a>

### Exercise 3.3 (***)
   In the "titanic.xls" file, among the people that survived, compute the average age of man and the average age of woman.  
   
   tips: use the len() function for getting the number of lines, and sum() for the total sum

In [0]:
#Write your code here

### Exercise 3.4 (***)
    In the "PT.xlsx", count the amount of people that lives in one of the communes of Bruxelles

tips: 
    - Use the dataframe function "isin" to check wether a values of a dataframe exists in a list
    - Use join operation and use the "len()" function for getting the amount of lines in the resulting dataframe


Note : In the tab "PD" there is an information concerning the ZIP.

The following list contains all the <Comunes> from Bruxelles that exists in this sheet

In [0]:
list_communes = [
"Bruxelles",
"Jette",
"Berchem",
"Auderghem",
"Bruxelles-Capitale",
"Haren",
"uccle",
"Evere",
"Etterbeck",
"Forest",
"Ganshoren",
"Ixelles",
"Koekelberg",
"Molenbeek",
"Saint-Gilles",
"Saint-Josse-ten-Noode",
"Schaerbeek",
"Watermael-Boitsfort",
"Woluwe-Saint-Lambert",
"Woluwe-Saint-Pierre",
"Anvers",
"Liege",
"Hainaut",
"Laeken",
"Neder-Over-Heembeek"]

Finally, we can store our new data in a new CSV, by calling `df.to_csv()`

## Chapter 4: Using the power of Numpy - statistics, filtering and more

The real strength of working with Pandas to make complex computations and working with large / huge data sets is its integration with the **NumPy and SciPy library**. Any DataFrame and Series object of Pandas can also use the functions available to NumPy/SciPy arrays and matrices

We will now explore what we can do with these two libraries in combination with our data stored in a Pandas DataFrame.


---

In [0]:
import numpy as np
import scipy as sp

Let's reload our set of anonomized user data, this time without the first 2 columns.

In [0]:
pt = pd.read_excel("PT.xlsx", usecols="C:G") # We remove the first 2 columns by specifying the `usecols` param)
print("Index:",pt.index,"\n")
pt.head()

### Filtering data - part 2

Filtering data is a very useful tool in many real-life scenarios. Pandas allows us to write a condition as if it was key to access data. An example makes this clear: we filter out the data of people between the age of 25 & 60.

In [0]:
target_group = pt[(pt['Age'] >= 25) & (pt['Age'] <= 65)]
target_group.head()

### Mean values

Finding the average over a whole column (or row) can be done with Numpy's `.mean()`

In [0]:
pt.mean()

It can also be called upon a single column (Series) of values

In [0]:
youth = pt[pt['Age'] <= 25]
youth['Age'].mean()

### Extracting unique values
We can extract and evaluate how many unique values a data set contains. For instance:

In [0]:
print("Count of unique job titles:",pt.Job_title.unique().size)

You can also choose to retrieve the actual counts of each unique element with litle extra effort:

In [0]:
unique, counts = np.unique(pt.Department, return_counts=True)
print(np.asarray((unique, counts)).T)

### Grouping

Grouping allows us to merge entries with a common field together. We just found or employee data span over about 30 different departments. It would be interesting to see how their average age and wage compare.

Let's see how we can de that with Pandas.

In [0]:
by_department = pt.groupby( ["Department"] )
by_department.mean().head()

### Sorting our data

Finally one last trick to organize your data: sorting.

You can sort your data by index, column or (as demonstrated here) by explicitly selecting a series of values.

In [0]:
  sorted_pt = pt.sort_values(by='Age', ascending=False)
  print(sorted_pt.head())
  sorted_pt.tail()

### Data set: male first name statistics in Belgium

For the first exercises we introduce a new data set containing the names of people by community

In [0]:
names = pd.read_excel("data/first_names_be_male.xlsx")
names.head()

### <a name="ex4_1"></a> Exercise 4.1 : Male First Names of Belgium (**)

From our new data set we can find some interesting facts on first names in Belgium.

* First, find the size of this dataset. What is the minimum value of the MS_FREQUENCY column, and what does this tell you?
* How many unique names does our dataset contain?
* Use a groupBy to find how many communities have people called Gabriel? Can you also find the total sum? (Hint. Replace .count() with .sum())
* Now try to find how many people have your name in your city. You will have to create a double index, or use filter. Ideally, use both methods!
* We are now only interested in names that at least 100 people in Belgium have. Use the appropriate filter. How many names do you have left?
* What are the 5 most popular names in Belgium? Print them out

In [0]:
# write your answer here

<a href="#ex4_1answer">Answer to Exercise 4.1</a>

### <a name="ex4_2"></a> Exercise 4.2: What we can learn from the Titanic dataset (**)

* How many people does the set contain? How many survived, what percentage is this?
* Group the people by their class. Is there a difference in average survival changes?
* Filter out only the females of above 50. Did they have a higher change to survive?
* What is the average ticket price for each class?

In [0]:
# write your answer here

<a href="#ex4_2answer">Answer to Exercise 4.2</a> Not available yet

## Chapter 5: Extra exercises

We found another data set containing all countries and the continent they belong to. Combined with the beer dataset from chapter 2, and the knowledge gathered above, we can derive some interesting statistics.

In [0]:
beer = pd.read_csv("new_data.csv",sep=";")

country_continents = pd.read_csv("countryContinent.csv",sep=",", encoding='latin-1')
country_continents.head()

### Exercise 5.1: combine all your knowledge: Beer challenge (***)


*   Remove the unnecessary data from the continents data set, keep only the country name and continent (use a slice, remove columns or copy paste..)
*   Join the data from this table and the beer consumption one by 'Country'
*  Which continent drinks on average the most? Use a 'groupBy' to find the answer
*  Create and print a list of countries that drink more than 50 L per capita

### Exercise 5.2: the climate of Belgium (**)

One last data set to explore.


*   Average the max temperature for the period 2011 - 2017, how does it compare to the average temperate in general
*   Create a new column, combining the winter and frost days and call it 'Indoor days', and summer + heat days to a new column 'Outdoor days'
*  Changee th sunshine column to have a format ## days, ## hours

In [0]:
climate = pd.read_csv("climate_belgium.csv",sep=";")
climate.set_index("Parameter",inplace=True)
climate = climate.transpose()

print(climate.index.values)
climate.head()

## Answers for the exercises

<a name="ex2_1answer">Answer to Exercise 2.1</a>

In [0]:
data = pd.read_csv("new_data.csv",sep=";")

print("First 5 lines:\n",data.head())
print("\nData types:\n",data.dtypes)
print("\nDescribe:\n",data.describe())

<a href="#ex2_1">Back to Exercise 2.1</a>

<a name="ex2_2answer">Answer to Exercise 2.2</a>

In [0]:
ex22 = data.set_index('Country') # part 1
ex22.columns = ['Consumption pc','Trend','Total (10^6 L)','Year'] # part 2
ex22.head()

In [0]:
print(ex22['Consumption pc']['Belgium'])
print(ex22[ex22.columns[2]]['China'])
print(ex22.Trend.Seychelles)

<a href="#ex2_2">Back to Exercise 2.2</a>

<a name="ex2_3answer">Answer to Exercise 2.3</a>

In [0]:
ex22['Population (est)'] = ex22[ex22.columns[2]]/ex22[ex22.columns[0]]*(10**6)

print(ex22['Population (est)'].head())
print(ex22['Population (est)']['Belgium'])  # seems like a good estimate to me!

<a href="#ex2_3">Back to Exercise 2.3</a>

<a name="ex3_1answer">Answer to Exercise 3.1</a>

In [7]:
import pandas as pd
xls = pd.ExcelFile('titanic.xls')
df1 = pd.read_excel(xls, 'titanic3')
#1) print the result
df1.head(5)
#OR
df1.iloc[:5]

#2) get type of one value
type(df1["age"][0])

numpy.float64

<a href="#ex3_1">Back to Exercise 3.1</a>

<a name="ex3_2answer">Answer to Exercise 3.2</a>

In [9]:
#1) Read the sheet 'PT' and 'PD' from the PT.xlsx and store them in a list or dictionary
import pandas as pd
xls = pd.ExcelFile('PT.xlsx')
df1 = pd.read_excel(xls, 'PT')
df2 = pd.read_excel(xls, 'PD')
tables = {"PT": df1, "PD": df2}

OR

In [12]:
import pandas as pd
xls = pd.ExcelFile('PT.xlsx')
list_sheet = xls.sheet_names
tables = {}
for sheet in list_sheet:
    df1 = pd.read_excel(xls, sheet)
    tables[sheet] = df1
print(tables)

{'PT':      Last_Name First_Name                            Department  \
0            *          *                  Utilities/Laboratory
1            *          *            Housing & Neighborhood Dev
2            *          *                                Police
3            *          *                    Parks & Recreation
4            *          *                    Parks & Recreation
5            *          *                    Parks & Recreation
6            *          *                    Parks & Recreation
7            *          *            Economic & Sustainable Dev
8            *          *                                Police
9            *          *                                Street
10           *          *           Planning and Transportation
11           *          *  Utilities/Department of the Director
12           *          *                                Police
13           *          *                                Police
14           *          *                                Police
15           *          *                                Police
16           *          *           Utilities/Dillman Road WWTP
17           *          *                                  Fire
18           *          *                    Parks & Recreation
19           *          *                            Controller
20           *          *                                  Fire
21           *          *                    Parks & Recreation
22           *          *                    Parks & Recreation
23           *          *            Housing & Neighborhood Dev
24           *          *                                  Fire
25           *          *                                Street
26           *          *                                Street
27           *          *                                  Fire
28           *          *                                Police
29           *          *                    Parks & Recreation
...        ...        ...                                   ...
1255         *          *                    Parks & Recreation
1256         *          *                 Utilities/Engineering
1257         *          *          Utilities/Blucher Poole WWTP
1258         *          *                 Utilities/Engineering
1259         *          *                      Utilities/Meters
1260         *          *                    Parks & Recreation
1261         *          *                                Police
1262         *          *                   Office of the Mayor
1263         *          *                                Police
1264         *          *                                Police
1265         *          *                    Parks & Recreation
1266         *          *          Community & Family Resources
1267         *          *            Housing & Neighborhood Dev
1268         *          *                    Parks & Recreation
1269         *          *                                Street
1270         *          *                                Street
1271         *          *          Community & Family Resources
1272         *          *            Housing & Neighborhood Dev
1273         *          *           Utilities/Dillman Road WWTP
1274         *          *                                  Fire
1275         *          *                    Parks & Recreation
1276         *          *                Board of Public Safety
1277         *          *                     Fleet Maintenance
1278         *          *                                Police
1279         *          *                                  Fire
1280         *          *                  Utilities/Purchasing
1281         *          *                                Police
1282         *          *                                  Fire
1283         *          *                          Public Works
1284         *          *                  Utilities/Stormwater

                             Job_title  Salary  Age  ZIP
0                              Chemist   59660   98   66
1                             Director   17337   15   55
2                 Senior Police Offcer   60124   77   59
3                            BP-ATT-GF     599   28   97
4                            BP-ATT-GF    1698   23   20
5                      BP-LIFEGUARD-GF    3699   83  100
6                          BBCC-SUP-NR    2255    9   64
7                             Director   16807   50    0
8                  Officer First Class   61078   58   40
9      Master Motor Equipment Operator   44689   86   54
10          Public Improvement Manager   54849   44   35
11     Administrative Asst to Director   37357   78   33
12                         Team Leader   41105   48   87
13                            Sergeant   62397   70   57
14                      Crossing Guard     966   48   18
15                Senior Police Offcer   60491   79   85
16           Wastewater Plant Operator   37071    3   77
17                             Captain   68133   77   10
18                           BP-ATT-GF     483   61    8
19                              Intern    7193   10   45
20               Firefighter 1st Class   63669   25   91
21                  BP-STAFF ASSIST-GF    3729   46   67
22                       AJB-ATT-KC-NR    3489   60   10
23     Neighborhood Compliance Officer   45025   88   26
24               Firefighter 1st Class   12055   77   33
25                             Laborer   42949   30   41
26                     Deputy Director   51906   93    8
27                            Sergeant   64465   99   21
28                Senior Police Offcer   59754   73   91
29                     GOLF PRO-SUP-GF    1686   96   52
...                                ...     ...  ...  ...
1255                     ADMIN-SPEC-GF    1688   81   51
1256                   GIS Coordinator   54085   37    9
1257         Wastewater Plant Operator   39542   90   55
1258                            Intern    2372   47   66
1259                      Meter Reader    4663   11   23
1260                       ATT-GOLF-GF    2630   87   26
1261       Parking Enforcement Officer    9408   96   43
1262                            Intern    4633   60   19
1263     Telecommunications Supervisor   60450   27   82
1264       Probationary Police Officer   20367   76   38
1265                         MP-ATT-GF    2808   65   37
1266       Health Projects Coordinator   54844   90    1
1267                   Program Manager   49818   27   42
1268                     AJB-SUP-KC-NR      36   31    1
1269  Asset Clerk/Emergency Grant Coor   42109   64   10
1270   Master Motor Equipment Operator   30903   58   28
1271                            Intern    1415   43   24
1272               Rental Specialist 2   28112   50   74
1273        Plant Maintenance Mechanic   43980   66   52
1274             Firefighter 1st Class   61621   31   95
1275                         BP-ATT-GF     581   21   59
1276        Public Safety Board Member     634   25   12
1277         Fleet Maintenance Manager   61292   55   63
1278       Parking Enforcement Officer   34955   45   36
1279             Firefighter 1st Class   58088   85   96
1280             Inventory Coordinator   30721   16   96
1281             Senior Police Officer   62238   42   95
1282                           Captain   66769   56   33
1283         Public Works Board Member      80   57   79
1284                           Lineman   43029   46   86

[1285 rows x 7 columns], 'PD':     ZIP            Information
0    66              Bruxelles
1    55                  Jette
2    59                Berchem
3    97              Auderghem
4    20     Bruxelles-Capitale
5   100                  Haren
6    64                  uccle
7     0                  Evere
8    40              Etterbeck
9    54                 Forest
10   35              Ganshoren
11   33                Ixelles
12   87             Koekelberg
13   57              Molenbeek
14   18           Saint-Gilles
15   85  Saint-Josse-ten-Noode
16   77             Schaerbeek
17   10    Watermael-Boitsfort
18    8   Woluwe-Saint-Lambert
19   45    Woluwe-Saint-Pierre
20   91                 Anvers
21   67                  Liege
22   26                Hainaut
23   41                 Laeken
24   21    Neder-Over-Heembeek
25   52                   Gand
26   13                 Bruges
27   37                  Namur
28   48                  Paris
29    2                Unknown
30   36                 Nantes
31   49             Montpelier
32   86                Germany
33   79            Netherlands
34   30                Tournai
35   71                 Ostend
36   78               Mechelen
37   16             Marseilles
38   50                   Lyon
39   68               Bordeaux
40    6                   Nice
41   46               Grenoble
42   75                 Angers
43   80                Algerie
44   81                  Lille
45   39               Beyrouth
46   65             Strasbourg
47   42              Amsterdam
48   70                  Rouen
49   93                  Tours
50   96               Toulouse
51   82                  Nimes
52   62                   Caen
53   63                Le Mans
54    1              Perpignan
55   51                  Nancy
56   72                   Metz
57   43                Limoges}

In [18]:
#2) Perform a join between the two data sets on the key "ZIP"
merged_df = pd.merge(tables["PT"],tables["PD"], how="inner", left_on = "ZIP", right_on = "ZIP")

#3) Keep only the persons that are older than 30 years old

filtered_df = merged_df[merged_df["Age"] > 30]


#Note that you can also count the number of values that have been throwed away
print(len(merged_df)-len(filtered_df))
#=> 236 were not satisfying the condition

236


<a name="ex3_3answer">Answer to Exercise 3.3</a>

In [32]:
#1) Importing the "titanic.xls" file
import pandas as pd
xls = pd.ExcelFile('titanic.xls')
df1 = pd.read_excel(xls, 'titanic3')
df1


#2) Take only the people that survived 
survived = df1[df1["survived"] == 1]                    

#3) compute the average age of man and the average age of woman.
for sex in ["female","male"]:
    subset = survived[survived["sex"] == sex]
    age_column = subset["age"]
    average = age_column.sum()/len(age_column)
    print("Average age of ",sex,": ",average)

Average age of  female :  25.681661946902654
Average age of  male :  22.62111801242236


<a name="ex3_4answer">Answer to Exercise 3.4</a>

In [38]:
#In the "PT.xlsx", count the amount of people that lives in one of the communes of Bruxelles
#tips: Use join operation and use the "count()" function for getting the amount of lines in the resulting dataframe

import pandas as pd
#Store the tables in a dictionnary
xls = pd.ExcelFile('PT.xlsx')
list_sheet = xls.sheet_names
tables = {}
for sheet in list_sheet:
    df1 = pd.read_excel(xls, sheet)
    tables[sheet] = df1
    
#take the provided list    
list_communes = [
"Bruxelles",
"Jette",
"Berchem",
"Auderghem",
"Bruxelles-Capitale",
"Haren",
"uccle",
"Evere",
"Etterbeck",
"Forest",
"Ganshoren",
"Ixelles",
"Koekelberg",
"Molenbeek",
"Saint-Gilles",
"Saint-Josse-ten-Noode",
"Schaerbeek",
"Watermael-Boitsfort",
"Woluwe-Saint-Lambert",
"Woluwe-Saint-Pierre",
"Anvers",
"Liege",
"Hainaut",
"Laeken",
"Neder-Over-Heembeek"]
pd_table = tables["PD"]
filtered_pd_table = pd_table[pd_table["Information"].isin(list_communes)]
merged_df = pd.merge(tables["PT"],filtered_pd_table, how="inner", left_on = "ZIP", right_on = "ZIP")
print(len(merged_df))

323


<a name="ex4_1answer">Answer to Exercise 4.1</a>

In [0]:
print(names.index.size)
print(names.info()) 
print(names.describe())

In [0]:
names_grouped = names.groupby( ["TX_FST_NAME" ])
print("Places with people called Gabriel:", names_grouped.count()['MS_FREQUENCY']['Gabriel'])
print("Total number pf people called Jeroen:",names_grouped.sum()['MS_FREQUENCY']['Jeroen'])

<a href="#ex4_1">Back to Exercise 4.1</a>

<a name="ex4_2answer">Answer to Exercise 4.2</a>

<a href="#ex4_2">Back to Exercise 4.2</a>