<figure>
  <IMG SRC="https://www.capgemini.com/nl-nl/wp-content/themes/capgemini-2018-02/assets/images/logo.svg" WIDTH=250 ALIGN="RIGHT"/>
</figure>

# DS Python Workshop 1
*By Alain Issa & Jeroen Dhondt*

### How to use this notebook

 
*   Double click any cell to edit it's content
*   Click  ``` SHIFT+ENTER ```  to execute a cell

### Resources
Official documentation (bit hard to understand) [Link official documentation](https://docs.python.org/3/)

Interactive website where you can quickly look up basic functions of Python: [Python Cheatsheet](https://www.pythoncheatsheet.org/)


---

## Chapter 1: Variables in Python

Variables are the base element to store information in a programming language. This first exercises will introduce you how to work with them.


### Assigning values to a variable

Creating variables of different types is simple in Python. Simply assign ('=') the value to a variable with the name of your choice.

For instance: ( PS. Lines starting with # are comments. These are not executed and only are there to help the reader)

In [0]:
s = 'Hello'   
# String

i = 4        
# Integer

f = 3.14
# Float

b = True 
# Boolean

Here, `s`, `i`, f and `b` are all variables. Each variable has a different type, as shown above. 


To write the value of a variable to the screen, use the **`print`** function. You can add multiple variables to the `print` function by putting the text between quotes and separate the text string and the variable by a comma

In [66]:
print(s)
print(i)
print('Printing values:', s, i, f, b)

Hello
4
Printing values: Hello 4 3.14 True

To find out the type of a variable, you can use the function **`type()`**. Let's test it on our previous variables s and i

In [67]:
print(s, 'is a ', type(s))
print(i, 'is a ', type(i))
print(f, 'is a ', type(f))
print(b, 'is a ', type(b))

Hello is a  <class 'str'>
4 is a  <class 'int'>
3.14 is a  <class 'float'>
True is a  <class 'bool'>

### Exercise 1.1: Hello world!

Let's start with a classic exercise: print a message to yourself. Make the output read 'Hello, ' and your own name.

In [105]:
# insert code here

print('Hello', name)

Hello Jeroen


### Combining integer and strings
You can combine two strings by using the addition operator  (`+`).

In [50]:
string1 = 'We are having a workshop on '
string2 = 'Python'

print(string1 + string2)

We are having a workshop on  Python

However, when mixing different types, we will get an error.

In [45]:
string3 = 'The year is '
integer1 = 2018

print(string3 + integer1)

TypeError: ignored

`TypeError: must be str, not int`: python tells us he expects a variable with type `str`, but received an `int` ( = `2018`)

To prevent this, you need to cast the number  to a string first with `str() `.

**Try it now on the previous code block!**


---

### <a name="ex1_2"></a>  Exercise 1.2: Print your name and starting year


Create a variable to hold the year you started working at Capgemini and print a message with both your name and your starting year. 

For instance: 'My name is Jeroen and in 2016 I started working at Capgemini'.

In [0]:
# insert your answer for exercise 1.2 here

<a href="#ex1_2answer">Answer to Exercise 1.2</a>

### Strings vs integers

Can you guess what happens when you execute below code?

In [23]:
s1 = '4'
s2 = '5'

print('4 + 5 =', s1 + s2)

i1 = 4
i2 = 5
print('but also 4 + 5 =', i1 + i2)

4 + 5 = 45
but also 4 + 5 = 9

What happened? Well, s1 and s2 are strings and when using the + operator, they are concatinated
i1 and a2 are integers however, and + simply adds up the numbers

We showed that you can cast a variable of type `int` to the type `str`. However,  you can also make a string into a integer:

In [52]:
s3 = '23'
print(int(s3) + 2)

25

### Ask the user for input
Let's make our next exercise a little interactive. With `input()` you can ask input from the user.

In [180]:
favorite = input("What is your favorite cookie? ")
print("Your favorite cookie is:", favorite)

What is your favorite cookie? Chocolate chip
Your favorite cookie is: Chocolate chip

### Exercise 1.3: When can you retire? (Advanced) 

We will now use all that we have just seen. 

Ask the user for his year of birth. Next, use the input to calculate the retirement age (Let's assume for now that you can retire at age 67)

In [0]:
# add your answer here, print a sentence like 'You can retire in 2055'

### <a name="ex1_4"></a> Exercise 1.4: Guess the number (Expert)

Let's create a little game with the random number generator of Python.

We let Python generate a random number and store it. Next, we ask the user to guess the number. If he has guessed the wrong number, he is asked to try again. 

**!! This exercise assumes you have prior knowledge of conditional loop statements. 
Refresh your memory: [Link](https://www.w3schools.com/python/python_while_loops.asp) **

In [0]:
import random  # https://docs.python.org/3/library/random.html#random.randint
number = random.randint(1, 5) # generates a random integer 1 <= x <= 5 

# add your answer here

<a href="#ex1_4answer">Answer to Exercise 1.4</a>

---

##  Chapter 2: Calculations and converting values with Python
One of the strenghts of Python is its ability to quickly create little scripts.

In this chapter, we want to use Python for calculating some useful conversions.


### Base calculus

All the basic operators are readily available in Python, without the need to call any functions.
We already used + on integers, but you also have +, -, * (product), / (division), % (remainder) and ** (power)

In [0]:
print('Calculating a product can be done like this:', 10 + 2 * 3 - 1)
print('The square of 15 is', 15**2)
print('The remainder of 10 / 6 is', 10%6)

Calculating a product can be done like this: 15
The square of 15 is 225
The remainder of 10 / 6 is 4

These basic operators allow us to do quite some useful things already.

Let's say you invested some money in Bitcoin. Today the rate is 1 BTC = 5656 EUR. 

Say you were very lucky and bought 3.5 bitcoins. What is that investment worth today?

In [70]:
rate_bitcoin = 5656
my_bitcoin = 3.5

print('My bitcoin are worth EUR', my_bitcoin * rate_bitcoin)

My bitcoin are worth EUR 19796.0

### <a name="ex2_1"></a> Exercise 2.1: Convert Farenheit to Celsius

You find yourself in American watching the local weather forecast. Since the americans don't use the metric system, you now have to figure out how much 23° Farenheit is in Celsius.

You (of course) know that the formula to convert farenheit to celsius is: 

`T(°C) = (T(°F) - 32) × 5/9`

Write the code that converts a temperature of 23 °F into °C

In [0]:
# Insert your answer for exercise 2.1 here

<a href="#ex2_1answer">Answer to Exercise 2.1</a>

### <a name="ex2_2"></a> Exercise 2.2: Convert seconds to a human-friendly format

It is quite common in data sets to find a duration defined in (milli)seconds. For instance a server timeout is set to 7200 seconds.

Write code that takes as input a number of seconds and prints a message of the format `'This equal to: x days, y hours, z minutes and u seconds'`

*Hint: 
String formatters can make your live a little easier here. They use {} as placeholders to be filled in by variables given at the end. See the code below. Al that is left for you is to create the variables days, hours, minutes and seconds*

In [103]:
# insert code here to calculate the days, hours, minutes and (remaining) seconds
input_seconds = 140432 # or use an input()

# seconds = ..
# minutes = ..

print('This equals to: {} days, {} hours, {} minutes and {} seconds.'
      .format(days, hours, minutes, seconds))

This equals to: 1 days, 15 hours, 0 minutes and 32 seconds.

<a href="#ex2_2answer">Answer to Exercise 2.2</a>

### Dates 

However, Python also allows you to do much more complex calculations by loading specific libraries and using their pre-defined functions.

Take dates for instance. We can easily calculate any date by using the functions provided in the `date` library [(Documentation)](https://docs.python.org/3/library/datetime.html#timedelta-objects).

Summers in Belgium never seem long enough, so let's calculate exactly how many days our summer has:

In [126]:
from datetime import date

start = date(2019,6,21) # June 21th
end = date(2019,9,20) # September 20th

print(end-start)

91 days, 0:00:00

### <a name="ex2_3"></a> Exercise 2.3: It's almost Christmas time

We are all looking forward to Christmas. Let's calculate exactly how many days we still have to wait! Print a message that tells us how many days still till Christmas.

Fun(?) variation: want to start worrying about finding the perfect gift for your girlfriend/boyfriend/spouse? Calculate the days/hours/minutes till his/her birthday.


*Hint: you can get the current date as follows: `date.today()`*

In [136]:
# exercise 2.3 solution

Time till Christmas: 83 days, 0:00:00

<a href="#ex2_3answer">Answer to Exercise 2.3</a>

### Exercise 2.4: English distances (Advanced)

The English enjoy making simple things complicated. We can help by writing a little script that can both convert distances from feet and inches to centimeter ** and the other way around**.

First ask the user for the unit system he wants to convert from. Based on his answer, ask him to give the amount of feet & inches, or otherwise the amount of centimer.

Return a message saying: ' 176 cm is 5 ft. 9 in. ' OR the reverse: '5 ft. 9 in. is 176 cm'

*PS> 1 feet is 30.48 cm, and 1 feet = 12 inches *

In [0]:
# answer to exercise 2.4

### <a name="ex2_5"></a> Exercise 2.5: Measuring performance of functions(Expert)

Another great use-case for Python is to run another program or script, and measure the time it takes.

Let's write a script that compares the 2 date functions we have seen before: `date.today()` and `datetime.now()`. Do they have a similar performance? Or will one take longer than the other?

*Hint: Use the datetime and timedelta classes. And stackoverflow is your friend*

In [0]:
from datetime import datetime, timedelta
total = timedelta(0)

# insert your code here

<a href="#ex2_5answer">Answer to Exercise 2.5</a>

## Chapter 3: Lists & loops

In this chapter we will discuss some of the most important concepts for every programming language: data structures (we start with lists), interation over elements and control loops.

### Introducing lists

Lists contain a set of values. In Python, you can create an empty list by assigning a variable `list = []`
In Python, a list can contain different data types without problem.

In [195]:
list_of_values = ["Male", 40, True, "Pilot"]
print(list_of_values)
print(type(list_of_values))

['Male', 40, True, 'Pilot']
<class 'list'>

New items can be added by and we can use the `len()` function to find the lenght of the list.

In [196]:
list_of_values = list_of_values + ["Fifth", "Sixth"]
print(list_of_values)
print(len(list_of_values))

['Male', 40, True, 'Pilot', 'Fifth', 'Sixth']
6

The elements of a list have a fixed order, and we can call a single element from the list by specifying his index.

For example, the first element 'Male' can be called as follows: `list_of_values[0]`. Notice that the **index starts at 0**!

Below we show how to update and delete a value from a list as well

In [199]:
fourth = list_of_values[3] # notice the index is 3!
print(fourth)
list_of_values[3] = 'Doctor' # replace a value
del list_of_values[4] # delete the fifth element
print(list_of_values)

Doctor

IndexError: ignored

### The for-loop

The for-loop is a very powerful tool that allows us to repeatedly do the same action on a different element from a list, dictionary or series of numbers.

In [204]:
for value in list_of_values:
  print(value)
    
print("------")

for element in range(5):
  print(element)

Male
40
True
Doctor
------
0
1
2
3
4

### Exercise 3.1: Climate of Brussels

Given the list of values that represent the average monthly temperature and hours of sunshine. Calculate the following:

*   Total hours of sunshine in a year
*   Average temperature of Brussels over a year
*   The average temperature of the month June
*   **(Advanced)** Return the month with the most sunshine

In [0]:
temperatures = [5.7, 6.6, 10.4, 14.2, 18.1, 20.6, 23.0, 22.6, 19.0, 14.7, 9.5, 6.1]
sunshine = [59, 77, 114, 159, 191, 188, 201, 190, 143, 113, 66, 45]

# print out the requested values

exercise on if loop
( * * ) , filter positives
( * * * ) remove duplicates

### If-statements

### Exercise 3.2 (Advanced)

From a list of names, print out only the names with a lenght shorter than 6 characters

### Exercise 3.3 (Advanced)

From the same list of names, find any duplicate names and remove them. Print out the new list of names.

### Matrices: 2-dimensional lists

TODO

### <a name="ex4"></a> Exercise 4, Exploring data from a dictionary (Alain)

*   Load / create dictionary (no explanations of the code)
*   Visualize the data (no explanations)
*   Explain how to print out

<a href="#ex3answer">Answer to Exercise 3</a>

### <a name="ex5"></a> Exercise 5, Functions (Alain)

- definition of function
- Explain about: how to create and call a simple function


(x) print the lenght of the sentence

(xx) do something **about**

## Answers for the exercises

<a name="ex1_2answer">Answer to Exercise 1.2</a>

In [51]:
name = 'Jeroen'
year = 2016

# using str() to cast the integer to a string
print('My name is ' + name + ' and in '+ str(year) + ' I started working at Capgemini')

# or make advantage of the print function with parameters:
print('My name is', name, 'and in', year, 'I started working at Capgemini')

My name is Jeroen and in 2016 I started working at Capgemini
My name is Jeroen and in 2016 I started working at Capgemini

<a href="#ex1_2">Back to Exercise 1.2</a>

<a name="ex1_4answer">Answer to Exercise 1.4</a>

In [182]:
import random  # https://docs.python.org/3/library/random.html#random.randint
number = random.randint(1, 5) # generates a random integer 1 <= x <= 5 
guess = -1

while(number != guess):
  guess = int(input("Try again, guess the number? "))
  print(number == guess)
  
print('Congrats, you found the number!')

Try again, guess the number? 2
False
Try again, guess the number? 4
False
Try again, guess the number? 1
False
Try again, guess the number? 3
False
Try again, guess the number? 5
True
Congrats, you found the number!

<a href="#ex1_4">Back to Exercise 1.4</a>

<a name="ex2_1answer">Answer to Exercise 2.1</a>

In [75]:
farenheit = 23.0
celsius = (farenheit - 32) * 5/9

print('Tomorrow\'s temperature will be', celsius, '°C')

Tomorrow's temperature will be -5.0 °C

<a href="#ex2_1">Back to Exercise 2.1</a>

<a name="ex2_2answer">Answer to Exercise 2.2</a>

In [0]:
total_seconds = int(input('Give the total seconds:'))

seconds = total_seconds % 60
total_minutes = int(total_seconds / 60)
minutes = total_minutes % 60
total_hours = int(total_minutes / 60)
hours = int(total_hours % 24)
days = int(total_hours / 24)

print('This equals to: {} days, {} hours, {} minutes and {} seconds.'
      .format(days, hours, minutes, seconds))

<a href="#ex2_2">Back to Exercise 2.2</a>

<a name="ex2_3answer">Answer to Exercise 2.3</a>

In [181]:
today = date.today()
christmas = date(2018,12,25)

print('Days till Christmas:', (christmas - today))

Days till Christmas: 83 days, 0:00:00

<a href="#ex2_3">Back to Exercise 2.3</a>

<a name="ex2_5answer">Answer to Exercise 2.5</a>

In [0]:
from datetime import datetime, timedelta
total = timedelta(0)
runs = 10

for j in range(0, runs):
  d1 = datetime.now()

  for i in range(0, 1000000):
#     today = date.today()
    now = datetime.now()
    
  d2 = datetime.now() 
  diff = d2 - d1
  print(diff)
  total = total + diff
  
print('Average time:', total/runs)

<a href="#ex2_5">Back to Exercise 2.5</a>

<a name="ex5answer">Answer to Exercise 5</a>

In [0]:
gold = [46, 38, 29, 24, 13, 11, 11, 8, 8, 7, 107]
countries = ['USA', 'CHN', 'GBR', 'RUS', 'KOR', 'GER', 'FRA', 'ITA', 'HUN', 'AUS', 'OTHER']
plt.pie(gold, labels = countries, colors = ['Gold', 'MediumBlue', 'SpringGreen', 'BlueViolet'])
plt.axis('equal');

<a href="#ex5">Back to Exercise 5</a>

<a name="ex6answer">Answer to Exercise 6</a>

<a href="#ex6">Back to Exercise 6</a>